<a href="https://colab.research.google.com/github/LiaDahlia/Pratikum-Machine-Learning/blob/main/Pratikum_03_Merubah_tipe_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
path_ = "/content/drive/My Drive/Machine Learning/Data sales.csv"
dataset = pd.read_csv(path_)
dataset

   Customer Number     Customer Name        2016  ... Day  Year Active
0          10002.0  Quest Industries  $125000.00  ...  10  2015      Y
1         552278.0    Smith Plumbing  $920000.00  ...  15  2014      Y
2          23477.0   ACME Industrial   $50000.00  ...  29  2016      Y
3          24900.0        Brekke LTD  $350000.00  ...  27  2015      Y
4         651029.0         Harbor Co   $15000.00  ...   2  2014      N

[5 rows x 10 columns]

In [4]:
dataset['2016']+dataset['2017']

0     $125000.00$162500.00
1    $920000.00$1012000.00
2       $50000.00$62500.00
3     $350000.00$490000.00
4       $15000.00$12750.00
dtype: object

In [5]:
dataset.dtypes

Customer Number    float64
Customer Name       object
2016                object
2017                object
Percent Growth      object
Jan Units           object
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Number  5 non-null      float64
 1   Customer Name    5 non-null      object
 2   2016             5 non-null      object
 3   2017             5 non-null      object
 4   Percent Growth   5 non-null      object
 5   Jan Units        5 non-null      object
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
dtypes: float64(1), int64(3), object(6)
memory usage: 528.0+ bytes

In [15]:
dataset["Customer Number"] = dataset['Customer Number'].astype('int')
dataset.dtypes

Customer Number     int64
Customer Name      object
2016               object
2017               object
Percent Growth     object
Jan Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [16]:
dataset['2016'].astype('float')

ValueError: ignored

In [17]:
dataset['Jan Units'].astype('int')

ValueError: ignored

In [18]:
dataset['Active'].astype('bool')

0    True
1    True
2    True
3    True
4    True
Name: Active, dtype: bool