<a href="https://colab.research.google.com/github/LiaDahlia/Pratikum-Machine-Learning/blob/main/Tugas_1_MachineLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd
dataset=pd.read_csv("/content/drive/My Drive/Machine Learning/Angka Partisipasi Sekolah 2017.csv")
dataset

                Provinsi     SD    SMP    SMA     PT
0                   ACEH  99.85  98.09  82.15  34.28
1         SUMATERA UTARA  99.49  96.60  76.76  26.80
2         SUMATERA BARAT  99.50  96.29  82.86  35.45
3                   RIAU  98.98  94.73  76.52  27.28
4                  JAMBI  99.59  95.89  71.54  24.12
5       SUMATERA SELATAN  99.63  94.01  69.05  19.17
6               BENGKULU  99.80  97.20  79.07  29.90
7                LAMPUNG  99.78  94.76  70.03  20.96
8   KEP. BANGKA BELITUNG  99.64  92.41  66.99  14.99
9              KEP. RIAU  99.32  99.08  82.80  19.13
10           DKI JAKARTA  99.67  97.64  71.50  24.60
11            JAWA BARAT  99.51  93.77  66.62  21.50
12           JAWA TENGAH  99.62  95.48  68.48  22.13
13         DI YOGYAKARTA  99.87  99.63  87.61  51.33
14            JAWA TIMUR  99.57  96.77  71.51  23.34
15                BANTEN  99.31  95.67  67.77  21.33
16                  BALI  99.44  97.72  82.16  26.56
17   NUSA TENGGARA BARAT  99.43  97.69  76.61  28.52
18   NUSA TENGGARA TIMUR  98.27  94.76  74.65  27.80
19      KALIMANTAN BARAT  98.44  92.51  67.53  25.80
20     KALIMANTAN TENGAH  99.50  93.37  66.62  24.15
21    KALIMANTAN SELATAN  99.55  92.33  68.30  23.53
22      KALIMANTAN TIMUR  99.67  98.79  81.32  30.04
23      KALIMANTAN UTARA  98.34  96.04  75.12  20.72
24        SULAWESI UTARA  99.37  94.91  73.04  24.22
25       SULAWESI TENGAH  98.15  92.41  74.87  26.31
26      SULAWESI SELATAN  99.16  93.09  70.60  32.16
27     SULAWESI TENGGARA  99.32  94.08  72.94  30.03
28             GORONTALO  98.76  91.23  69.86  29.21
29        SULAWESI BARAT  98.10  89.88  68.03  23.49
30                MALUKU  99.72  96.86  79.08  38.20
31          MALUKU UTARA  99.19  97.24  76.06  32.10
32           PAPUA BARAT  97.27  96.92  80.60  31.92
33                 PAPUA  81.80  79.09  63.35  24.57
34               CIREBON  99.50         71.15  40.45
35              KUNINGAN  99.35  95.24         35.10

In [12]:
dataset.head()

         Provinsi     SD    SMP    SMA     PT
0            ACEH  99.85  98.09  82.15  34.28
1  SUMATERA UTARA  99.49  96.60  76.76  26.80
2  SUMATERA BARAT  99.50  96.29  82.86  35.45
3            RIAU  98.98  94.73  76.52  27.28
4           JAMBI  99.59  95.89  71.54  24.12

In [13]:
dataset.shape

(36, 5)

In [15]:
dataset.isnull().sum()

Provinsi    0
SD          0
SMP         0
SMA         0
PT          0
dtype: int64

In [16]:
dataset.max()

Provinsi    SUMATERA UTARA
SD                   99.87
SMP                  99.63
SMA                  87.61
PT                   51.33
dtype: object

In [17]:
dataset.min()

Provinsi     ACEH
SD           81.8
SMP
SMA
PT          14.99
dtype: object

In [18]:
dataset.describe()

              SD         PT
count  36.000000  36.000000
mean   98.762778  27.533056
std     2.967638   6.958856
min    81.800000  14.990000
25%    99.115000  23.452500
50%    99.465000  26.435000
75%    99.622500  30.510000
max    99.870000  51.330000

In [19]:
dataset.describe().loc['max','SD']

99.87

In [20]:
dataset.describe()['PT']['max']

51.33

In [34]:
data=dataset.dropna(axis=0, subset=['SMP','SMA'],inplace=True)

In [35]:
dataset.shape

(36, 5)